html,
body,
div,
span {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

pre {
  color: inherit;
  padding: 0 !important;
  margin: 0 !important;
  font: inherit;
  background-color: transparent;
  border: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

body {
  background: no-repeat fixed center;
  background-size: cover;
}

.fa-2x {
  font-size: 1.5em !important;
}

.app {
  position: relative;
  overflow: hidden;
  top: 19px;
  height: calc(100% - 38px);
  margin: auto !important;
  padding: 0 !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.app-one {
  background-color: #f7f7f7;
  height: 100%;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.side {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
}

.side-one {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
  top: 0;
}

.side-two {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  top: -100%;
  left: -100%;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;

}

.heading {
  padding: 10px 16px 10px 15px;
  margin: 0 !important;
  height: 60px;
  width: 100%;
  background-color: #eee;
  z-index: 1;
  overflow: visible;
}

.heading-name {
  padding: 0 !important;
  cursor: pointer;
}

.heading-name-meta {
  font-weight: 700;
  font-size: 100%;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  display: block;
}

#recipient-status {
  border-radius: 50%;
  background: none;
  height: 25px;
  width: 25px;
  color: white;
}

.heading-icon {
  padding: 0;
}

.heading-icon i {
  text-align: center;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.searchBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}

.searchBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}

/*#searchBox-inner input {
  box-shadow: none;
}*/

.searchBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 120px);
}

.sideBar-body {
  position: relative;
  padding: 10px !important;
  border-bottom: 1px solid #f7f7f7;
  height: 72px;
  margin: 0 !important;
  cursor: pointer;
}

.sideBar-body:hover {
  background-color: #f2f2f2;
}

.sideBar-main {
  padding: 0 !important;
}

.sideBar-main .row {
  padding: 0 !important;
  margin: 0 !important;
}

.sideBar-name {
  padding: 10px !important;
}

.name-meta {
  font-size: 100%;
  padding: 1% !important;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.sideBar-time {
  padding: 10px !important;
}

.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, .4);
  vertical-align: baseline;
}

/*New Message*/

.newMessage {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  position: relative;
  left: -100%;
}

.newMessage-heading {
  padding: 10px 16px 10px 15px !important;
  margin: 0 !important;
  height: 100px;
  width: 100%;
  background-color: #00bfa5;
  z-index: 1001;
}

.newMessage-main {
  padding: 10px 16px 0 15px !important;
  margin: 0 !important;
  height: 60px;
  margin-top: 30px !important;
  width: 100%;
  z-index: 1001;
  color: #fff;
}

.newMessage-title {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 5px !important;
}

.newMessage-back {
  text-align: center;
  vertical-align: baseline;
  padding: 12px 5px !important;
  display: block;
  cursor: pointer;
}

.newMessage-back i {
  margin: auto !important;
}

.composeBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}

.composeBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}

.composeBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.compose-sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 160px);
}

/*Conversation*/

.conversation {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  /*width: 100%;*/
  border-left: 1px solid rgba(0, 0, 0, .08);
  /*overflow-y: auto;*/
}

.message {
  padding: 0 !important;
  margin: 0 !important;
  background: no-repeat fixed center;
  background-size: cover;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 120px);
}

.message-inner {
  overflow-y: auto;
}

.message-body {
  margin: 5px 0px !important;
  padding: 0 !important;
  width: auto;
  height: auto;
}

.message-main-receiver {
  /*padding: 10px 20px;*/
  max-width: 80%;
  height: auto;
}

.message-main-sender {
  padding: 3px 20px !important;
  margin-left: 20% !important;
  max-width: 80%;
  height: auto;
}

.message-text {
  margin: 0 !important;
  padding: 0px !important;
  font-weight: 200;
  font-size: 14px;
  height: auto;
  word-break: break-word;
}

.message-text i {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: block;
  cursor: pointer;
}

.message-time {
  margin: 0 !important;
  font-size: 12px;
  text-align: right;
  color: #9a9a9a;
  height: auto;
}

.receiver {
  float: left;
  width: auto !important;
  padding: 5px 10px 2px !important;
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
  font-size: 12px;
  height: auto;
}

.sender {
  float: right;
  width: auto !important;
  height: auto;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 5px 10px 2px !important;
  font-size: 12px;
}

/*Reply*/

.reply {
  height: 60px;
  width: 100%;
  background-color: #f5f1ee;
  padding: 10px 5px 10px 5px !important;
  margin: 0 !important;
  z-index: 1000;
}

.reply-icon {
  padding: 5px !important;
  overflow: visible;
}

.reply-icon i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-main {
  padding: 2px 5px !important;
}

.reply-main textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 5px !important;
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
  height: 100%;
  font-size: 16px;
}

.reply-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
}

.badgebox {
  opacity: 0;
}

.badgebox+.badge {
  height: 14px;
  width: 20px;
  font-size: 0px;
  padding: 2px;
  float: right;
}

.badgebox:focus+.badge {
  box-shadow: inset 0px 0px 3px;
}

.badgebox:checked+.badge {
  font-size: inherit;
}

.listLabel {
  margin: 5px;
  text-align: left;
  line-height: 50%;
  padding: 10px;
  display: block;
}

#overlay {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, .5);
  display: none;
}

.userChecklist-container {
  margin-top: 25px;
  padding: 5px;
  width: 325px;
  height: auto;
  background-color: #eee;
  display: inline-block;

}

#userChecklist {
  height: 275px;
  overflow-y: scroll;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  z-index: 1;
  cursor: pointer;
  margin-left: -100px;
  overflow: inherit;
}

.dropdown-content li {
  color: rgb(95, 95, 95);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  background-color: #ddd;
}

.dropdown-content li:hover {
  background-color: #aaa;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#groupOptions {
  display: none;
  overflow: visible;
}

input.attach-file {
  display: none;
}

input.attach-file+span {
  color: #93918f;
  font-size: 10px;
}

.hidden {
  display: none;
}